<div class="toolbar">
  <div class="toolbar__checkbox js-filter-disable-analytics">
    <label>
      <Input
        @type="checkbox"
        @checked={{this.enabled}}
      />
      Enable Analytics
    </label>
  </div>
</div>
