{{#ui/toolbar-x as |bar|}}
  {{ui/toolbar-clear-button
    onclick=(action "clearAll")
    classNames="js-clear-deprecations-btn"
  }}

  {{bar.divider}}

  <div class="toolbar__search js-deprecations-search">
    {{ui/toolbar-search-field value=searchValue}}
  </div>
{{/ui/toolbar-x}}
