{{#ui/toolbar-content as |bar|}}
  <div class="toolbar__checkbox js-filter-hide-routes">
    <label for="options-hideRoutes">
      {{input
        type="checkbox"
        checked=options.hideRoutes
        id="options-hideRoutes"
      }}
      Current Route only
    </label>
  </div>

  <div class="toolbar__checkbox js-filter-hide-substates">
    <label for="options-hideSubstates" title="Hide loading and error substates">
      {{input
        type="checkbox"
        checked=options.hideSubstates
        id="options-hideSubstates"
      }}
      Hide Substates
    </label>
  </div>

  {{bar.divider}}

  {{bar.searchField
    class="js-filter-views"
    value=searchValue
  }}
{{/ui/toolbar-content}}
